// Form
.form-control {
  border-radius: 0;
  min-height: 32px;
  border-bottom: 1px solid $form-color;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  box-shadow: none;
  padding: 0;

  @include placeholder {
    color: $form-color;
  }

  &:focus {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid $form-color;
    outline: 0;
    box-shadow: none;
  }

  &.form-control[disabled] {
    padding-left: 30px;
    cursor: default;
  }
}

.has-success .form-control, .has-success form input, form .has-success input, .has-success
form select, form .has-success select, .has-success
form textarea, form .has-success textarea, .has-success .search-form .search-submit, .search-form .has-success .search-submit,
.has-warning .form-control, .has-warning form input, form .has-warning input, .has-warning
form select, form .has-warning select, .has-warning
form textarea, form .has-warning textarea, .has-warning .search-form .search-submit, .search-form .has-warning .search-submit,
.has-error .form-control, .has-error form input, form .has-error input, .has-error
form select, form .has-error select, .has-error
form textarea, form .has-error textarea, .has-error .search-form .search-submit, .search-form .has-error .search-submit,
.has-error .form-control:focus, .has-error form input:focus, form .has-error input:focus, .has-error
form select:focus, form .has-error select:focus, .has-error
form textarea:focus, form .has-error textarea:focus, .has-error .search-form .search-submit:focus, .search-form .has-error .search-submit:focus {
  box-shadow: none;
}

form {
  input,
  select,
  textarea {
    @extend .form-control;
  }

  textarea {
    min-height: 130px;
  }

  label {
    margin-bottom: 1rem;
  }

  select.form-control,
  input[type="file"] {
    border: 1px solid $form-color;
    height: 32px;
    padding-right: 30px;
    padding-left: 30px;

    &:focus {
      border: 1px solid $form-color;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    min-height: 0;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin: -2px 5px 0 0;
  }
}

// Search form
.search-form {
  @extend .form-inline;
  margin-bottom: 1rem;
  width: 100%;
  height: 50px;

  .search-field {
    float: left;
    width: 100%;
    background-color: $gray-lighter;
    border-color: $gray-lighter;
    box-sizing: border-box;
    text-transform: lowercase;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
  }

  .search-submit {
    @extend .form-control;
    float: right;
    width: 15%;
    cursor: pointer;
    background-color: $gray-lighter;
    border-color: $gray-lighter;
    position: relative;
    color: $gray;
    box-sizing: border-box;
    height: 50px;

    &:hover,
    &:focus,
    &:active {
      background-color: $gray-lighter;
    }

    span {
      line-height: 2;
    }
  }

  label {
    margin: 0;
    float: left;
    width: 85%;
  }
}
